html {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}
body{
    -webkit-font-smoothing: antialiased;
    background-color: #221f1f;
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 10px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 50px 50px;
    box-shadow: 0px 2px 5px white;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color:#263238;
    color:white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 4px;
}

.fl-table td {
    
    font-size: 12px;
}

.fl-table thead th {
    color: white;
    background: #26324a;
}


.fl-table thead th:nth-child(odd) {
    color: white;
    background: #26324a;
}

.fl-table tr:nth-child(even) {
    background: #2e3233;
}

